<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Legal-IPTV</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body class="markdown-body">
  <h1>Legal-IPTV</h1>
  <p>
    Este repositório possui uma lista de canais que são gratuitos e abertos.
  </p>

  <p>
    Você pode adicionar a lista em qualquer aplicativo agregador de IPTV.
  </p>

  <dl>
    <dt>Link da <em>playlist</em></dt>
    <dd>
      <a href="list.m3u8" rel="nofollow" download></a>
    </dd>
    <dt>Link da <em>playlist</em> categorizada por países</dt>
    <dd>
      <a href="grouped.m3u8" rel="nofollow" download></a>
    </dd>
  </dl>

  <p>
    Os links das <em>streams</em> foram retirados de sites oficiais.
  </p>

  <h2>Canais disponíveis</h2>

  Abaixo você encontra uma lista de canais disponíveis na lista.

  <% for (const country of groupedChannels) { %>
  <h3>
    <%= country.emoji %> <%= country.name %>
  </h3>
  <ul class="channel-group">
    <% for (const channel of country.channels) { %>
    <li class="channel">
      <div class="channel-image" style="color: <%= channel.color %>;">
        <img src="<%= channel.tvgLogo %>" alt="<%= channel.name %>" class="channel-logo">
      </div>
    </li>
    <% } %>
  </ul>
  <% } %>

  <h2>Algumas observações</h2>

  <ul>
    <li>
      Alguns canais têm seu acesso restrito ao país de origem.
    </li>
    <li>
      Não necessariamente todos os canais funcionam sempre.
    </li>
    <li>
      Canais pagos não são incluídos na lista.
    </li>
    <li>
      O repositório não disponibiliza um serviço de EPG.
    </li>
  </ul>

  <h2>Sobre</h2>

  <p>
    O site, bem como seu gerenciador, são <em>open source</em>, e podem
    ser encontrados no <a href="https://github.com/alessandrojean/m3u8-cli" rel="nofollow" target="_blank">GitHub</a>.
  </p>

  <p>Críticas <em>construtivas</em> e sugestões são bem-vindas!</p>

  <p>
    Fique a vontade caso queira criar uma <em>issue</em> ou um
    <em>pull request</em> no repositório.
  </p>

  <hr/>

  <p><em>Última atualização: <%= new Date().toLocaleDateString('pt-BR', {day: '2-digit', month: '2-digit', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric'}) %></em></p>

  <script>
    for (let a of document.links) {
      if (a.innerHTML === '') {
        a.innerHTML = a.href;
      }
    }
  </script>
</body>
</html>
